$enable-print-styles: true;

$serif: 'Roboto Slab';
$sans: 'Roboto';
$condensed: 'Roboto Condensed';
$mono: 'Roboto Mono';

$breakpoints: (
  "sm": 420px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1200px
);
