<section class="experience section">
  <header class="experience__header section__header">
    <h2 class="experience__header__title section__header__title">Experiences</h2>
    <p class="experience__header__text section__header__text">I've had the opportunity to work with some amazing companies with some amazing people.</p>
  </header>
  <article class="experience__article section__article">
    <ul class="experience__list">
      <li class="experience__item">
        <h4 class="experience__company">Accenture Interactive</h4>
        <p class="experience__timeframe">2015&ndash;Present</p>
        <p class="experience__job-title">Senior Front End Developer</p>
        <ul class="experience__job-description__list">
          <li class="experience__job-description__item">Manage teams of offshore and nearshore Front End Developers on various projects</li>
          <li class="experience__job-description__item">Generate and integrate <svg class="icon icon--html"><use xlink:href="/assets/sprite.svg#html5-original" />HTML</svg> templates with web applications such as AEM, SFCC, and Hybris.</li>
          <li class="experience__job-description__item">Collaborate with developers to develop and serve data from API's.</li>
        </ul>
      </li>
    </ul>
  </article>
  <article class="experience__article section__article">
    <ul class="experience__list">
      <li class="experience__item">
        <h4 class="experience__company">Accenture Interactive</h4>
        <p class="experience__timeframe">2015&ndash;Present</p>
        <p class="experience__job-title">Senior Front End Developer</p>
        <ul class="experience__job-description__list">
          <li class="experience__job-description__item">Manage teams of offshore and nearshore Front End Developers on various projects</li>
          <li class="experience__job-description__item">Generate and integrate <i class="icon icon--html">HTML</i> templates with web applications such as AEM, SFCC, and Hybris.</li>
          <li class="experience__job-description__item">Collaborate with developers to develop and serve data from API's.</li>
        </ul>
      </li>
    </ul>
  </article>
</section>
