<section class="intro section">
  <header class="intro__header section__header">
    <h2 class="intro__header__title section__header__title">My Name is Joseph</h2>
    <p class="intro__header__text section__header__text">TLDR; I'm an experienced Front End Developer with a sharp eye for design and detail. I have a passion for understanding how things work and I work hard to be sure the client is not just satisfied but surprised. I love leading teams of talented individuals and working together to create an experience for the end user that is so natural and seamless that our work feels invisible. My positive attitude brightens the mood on any project and strengthens the collaboration of my team and anybody working with us.</p>
  </header>
  <article class="section__text__container">
    <p class="intro__text section__text">Actually, my first name is Brian, but that&rsquo;s not important. What is important is that I'm a Front End Developer and I love whaat I do. I've spent the past {{time_from_beginning}} strengthening my skills. My design background offers me great insight into the vision of a design and an attention to detail that can be hard to find in the average developer.</p>
  </article>
</section>
