---
import Icon from '../common/Icon.astro';
import ThemeControl from '../common/ThemeControl/ThemeControl.astro';

const year = new Date().getFullYear();
---

<footer
  class="border-t border-gray-200 bg-white py-10 dark:border-gray-900 dark:bg-gray-950"
>
  <div
    class="container mx-auto flex flex-col items-center justify-center gap-6"
  >
    <!-- Navigation Links -->
    <nav class="flex gap-6 text-base font-medium">
      <a
        class="text-gray-500 transition-colors hover:text-primary-600"
        href="/">Home</a
      >
      <a
        class="text-gray-500 transition-colors hover:text-primary-600"
        href="/projects">Projects</a
      >
      <a
        class="text-gray-500 transition-colors hover:text-primary-600"
        href="/blog">Blog</a
      >
      <a
        class="text-gray-500 transition-colors hover:text-primary-600"
        href="/contact">Contact</a
      >
    </nav>
    <!-- Social Media Links -->
    <div class="flex gap-4">
      <a
        class="text-gray-400 transition-colors hover:text-primary-600"
        href="https://github.com/joseph-turner"
        rel="noopener noreferrer"
        target="_blank"
      >
        <Icon className="h-6 w-6" name="github-fill" />
      </a>
      <a
        class="text-gray-400 transition-colors hover:text-secondary-500"
        href="https://www.linkedin.com/in/joseph-turner-3b8ab116/"
        rel="noopener noreferrer"
        target="_blank"
      >
        <Icon className="h-6 w-6" name="linkedin-box-fill" />
      </a>
    </div>
    <!-- Copyright -->
    <p class="text-center text-xs text-gray-400">
      © {year} Joseph Turner. All rights reserved.
    </p>
    <ThemeControl />
  </div>
</footer>
