---
import Icon from '../common/Icon.astro';

const year = new Date().getFullYear();
---

<footer class="bg-slate-900 pt-16 pb-20 text-white">
  <div
    class="container mx-auto mb-12 flex flex-col items-center justify-between md:flex-row"
  >
    <!-- Navigation Links -->
    <nav class="flex gap-4 text-sm">
      <a class="hover:text-gray-400" href="/">Home</a>
      <a class="hover:text-gray-400" href="/projects">Projects</a
      >
      <a class="hover:text-gray-400" href="/blog">Blog</a>
      <a class="hover:text-gray-400" href="/contact">Contact</a>
    </nav>

    <!-- Social Media Links -->
    <div
      class="mt-8 flex max-w-full flex-wrap justify-around gap-3 md:mt-0"
    >
      <a
        href="https://github.com/joseph-turner"
        rel="noopener noreferrer"
        target="_blank"
      >
        <Icon className="h-6 w-6" name="github-fill" />
      </a>
      <a
        href="https://www.linkedin.com/in/joseph-turner-3b8ab116/"
        rel="noopener noreferrer"
        target="_blank"
      >
        <Icon className="h-6 w-6" name="linkedin-box-fill" />
      </a>
    </div>
  </div>
  <!-- Copyright -->
  <p class="text-center text-xs text-gray-400 md:mt-0">
    © {year} Joseph Turner. All rights reserved.
  </p>
</footer>
