---
import Button from '../common/Button.astro';
---

<section
  class="flex items-center bg-slate-300 pt-36 pb-20 dark:bg-gray-900"
>
  <div class="container mx-auto px-4">
    <h1
      class="mb-4 font-heading text-4xl text-primary-700 md:w-[60%] md:text-6xl dark:text-primary-600"
    >
      <span class="block text-slate-700 dark:text-gray-100"
        >Hi, I'm Joseph Turner</span
      >
      Senior Front-End Developer
    </h1>
    <p
      class="mb-8 text-lg text-gray-700 md:w-[85%] md:text-2xl dark:text-gray-300"
    >
      Building scalable, high-performance web apps with modern
      frameworks that deliver exceptional user experiences.
    </p>
    <Button class="mr-4" href="/resume">
      Interactive Resume
    </Button>
    <Button
      as="a"
      href="/resume.pdf"
      variant="secondary"
      download="Joseph_Turner_Resume.pdf"
    >
      Resume PDF
    </Button>
  </div>
</section>
