<section class="interests section container">
  <header class="interests__header section__header">
    <h2 class="interests__header__title section__header__title">Interests</h2>
    <p class="interests__header__text section__header__text">In my free time, I enjoy spending time with my family, getting into the open air of the great outdoors, trying to stay fit (or get fit as the case may be), endurance sports, crossfit, yoga, and occasionally building something out of wood.</p>
  </header>
  <article class="interests__article section__article">
    <h3 class="interests__subheader interests__subheader--family">Family</h3>
    <p class="interests__text section__text">Meet my Family!</p>
  </article>
  <article class="interests__article section__article">
    <h3 class="interests__subheader interests__subheader--outdoors">Outdoors</h3>
    <p class="interests__text section__text">The Great Oudoors</p>
  </article>
  <article class="interests__article section__article">
    <h3 class="interests__subheader interests__subheader--fitness">Fitness & Nutrition</h3>
    <p class="interests__text section__text">Crossfit, running, cycling, yoga, plant-based nutrition.</p>
  </article>
  <article class="interests__article section__article">
    <h3 class="interests__subheader interests__subheader--wood">Woodworking</h3>
    <p class="interests__text section__text">There's nothing like making stuff with your hands IRL.</p>
  </article>
</section>
