<section class="skills">
  <header class="skills__header">
    <h2 class="skills__header__title">Skills</h2>
    <p class="skills__header__text">Working for {{time_from_beginning}} in the business you tend to collect some sweet skills<i class="tooltip tooltip--meme"><span class="tooltip__content"><img src="" alt="" class="tooltip__image">And I'm not talking about nunchuck skills, Napolean</span></i>.</p>
  </header>
  <ul class="skills__list">
    <li class="skills__item">
      <figure class="skills__item__level">
        <svg class="skills__item__img"></svg>
        <figcaption class="skills__item__name">
          <i class="skills__item__icon icon icon--html"></i>HTML</figcaption>
      </figure>
    </li>
    <li class="skills__item">
      <figure class="skills__item__level">
        <svg class="skills__item__img"></svg>
        <figcaption class="skills__item__name">
          <i class="skills__item__icon icon icon--css"></i>CSS</figcaption>
      </figure>
    </li>
    <li class="skills__item">
      <figure class="skills__item__level">
        <svg class="skills__item__img"></svg>
        <figcaption class="skills__item__name">
          <i class="skills__item__icon icon icon--sass"></i>Sass</figcaption>
      </figure>
    </li>
    <li class="skills__item">
      <figure class="skills__item__level">
        <svg class="skills__item__img"></svg>
        <figcaption class="skills__item__name">
          <i class="skills__item__icon icon icon--js"></i>JS</figcaption>
      </figure>
    </li>
    <li class="skills__item">
      <figure class="skills__item__level">
        <svg class="skills__item__img"></svg>
        <figcaption class="skills__item__name">
          <i class="skills__item__icon icon icon--angular"></i>Angular</figcaption>
      </figure>
    </li>
    <li class="skills__item">
      <figure class="skills__item__level">
        <svg class="skills__item__img"></svg>
        <figcaption class="skills__item__name">
          <i class="skills__item__icon icon icon--bootstrap"></i>Bootstrap</figcaption>
      </figure>
    </li>
    <li class="skills__item">
      <figure class="skills__item__level">
        <svg class="skills__item__img"></svg>
        <figcaption class="skills__item__name">
          <i class="skills__item__icon icon icon--design"></i>Design</figcaption>
      </figure>
    </li>
    <li class="skills__item">
      <figure class="skills__item__level">
        <svg class="skills__item__img"></svg>
        <figcaption class="skills__item__name">
          <i class="skills__item__icon icon icon--git"></i>Git</figcaption>
      </figure>
    </li>
    <li class="skills__item">
      <figure class="skills__item__level">
        <svg class="skills__item__img"></svg>
        <figcaption class="skills__item__name">
          <i class="skills__item__icon icon icon--node"></i>Node</figcaption>
      </figure>
    </li>
    <li class="skills__item">
      <figure class="skills__item__level">
        <svg class="skills__item__img"></svg>
        <figcaption class="skills__item__name">
          <i class="skills__item__icon icon icon--npm"></i>NPM</figcaption>
      </figure>
    </li>
    <li class="skills__item">
      <figure class="skills__item__level">
        <svg class="skills__item__img"></svg>
        <figcaption class="skills__item__name">
          <i class="skills__item__icon icon icon--npm"></i>NPM</figcaption>
      </figure>
    </li>
  </ul>
</section>

<section class="skills skills--tools">
  <header class="skills__header">
    <h2 class="skills__header__title">Tools</h2>
    <p class="skills__header__text">These are my preferred tools and technologies of trade. Things that I use but don't necessarily deserve a skill rating.</p>
  </header>
  <ul class="skills__list">
    <li class="skills__item">
      iTerm
      <ul class="skills__item__list">
        <li>Homebrew</li>
        <li>Zsh/Oh My Zsh/PowerLevel9k</li>
      </ul>
    </li>
    <li class="skills__item">Visual Studio Code</li>
    <li class="skills__item">Photoshop</li>
    <li class="skills__item">Illustrator</li>
  </ul>
</section>
