---
import ThemeControl from '../../common/ThemeControl/ThemeControl.astro';
import HeaderLink from './HeaderLink.astro';
---

<header
  class="sticky top-0 z-50 w-full border-b border-gray-200 bg-white/80 shadow-sm backdrop-blur dark:border-gray-900 dark:bg-gray-950/80"
>
  <div
    class="container mx-auto flex items-center justify-between px-6 py-3"
  >
    <!-- Logo / Brand -->
    <a
      class="text-2xl font-extrabold tracking-tight text-primary-600 dark:text-primary-400"
      href="/"
    >
      Joseph Turner
    </a>
    <!-- Desktop Navigation -->
    <nav class="hidden gap-8 text-base font-medium md:flex">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/resume">Resume</HeaderLink>
      <HeaderLink href="/portfolio">Portfolio</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </nav>
    <div class="flex items-center gap-2">
      <ThemeControl />
      <!-- Mobile Menu Button -->
      <button
        class="text-gray-700 focus:outline-none md:hidden dark:text-white"
        id="mobile-menu-button"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 6h16M4 12h16M4 18h16"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>
  </div>
  <!-- Mobile Navigation Menu -->
  <nav class="hidden md:hidden" id="mobile-menu">
    <ul class="space-y-2 px-4 pt-2 pb-4">
      <li><HeaderLink href="/">Home</HeaderLink></li>
      <li><HeaderLink href="/resume">Resume</HeaderLink></li>
      <li>
        <HeaderLink href="/portfolio">Portfolio</HeaderLink>
      </li>
      <li><HeaderLink href="/blog">Blog</HeaderLink></li>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </ul>
    <!-- <li>
        <HeaderLink href="/contact">Contact</HeaderLink>
      </li> -->
  </nav>
</header>
<!-- Inline Script for Mobile Menu Toggle -->
<script is:inline>
  const mobileMenuButton = document.getElementById(
    'mobile-menu-button'
  );
  const mobileMenu = document.getElementById('mobile-menu');
  mobileMenuButton.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });
</script>
