---
import SideBarLink from "./SideBarLink.astro";
const { sideBarActiveItemID } = Astro.props;
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <SideBarLink href="/" id="home" activeId={sideBarActiveItemID} href="/">Home</SideBarLink>
    <li>
        <a
            class="py-3 text-base"
            href="mailto:iamjoeturner@gmail.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">Contact</a>
    </li>
</ul>
