// Colors
// ============================================================================

$white: #FFF;
$gray: #6D6E71;

$purple: #796BB0;
$blue: #0092C4;
$green: #A8C05C;
$yellow: #FFCE43;
$red: #F15D5F;


// Transitions
// ============================================================================
$default-transition-duration: .3s;
$default-transition-property: all;
$default-transition-function: ease-in-out;
