---
import Footer from '@components/layout/Footer.astro';
import Header from '@components/layout/Header/Header.astro';
import '@fontsource-variable/archivo/standard.css';
import '@fontsource-variable/archivo/standard-italic.css';

import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content={Astro.generator} name="generator" />
    <title>Joseph Turner</title>
    <script>
      document.documentElement.classList.toggle(
        'dark',
        localStorage.theme === 'dark' ||
          (!('theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)')
              .matches)
      );
    </script>
  </head>
  <body
    class="relative bg-white text-gray-950 dark:bg-gray-950 dark:text-white"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
